html, body {
  width: 100%;
  height:100%;
  background-color: #dbeafd !important;
}
.ui.top.fixed.menu{
  background: #e1ebf8 !important;
}
.react-calendar{
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.15);
  border-radius: 20px;
}
.react-calendar__tile--now, .react-calendar__tile--now:hover{
  background: #ab51ff;
}
.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image:
    linear-gradient(#e1ebf8, #e1ebf8, #e1ebf8) !important;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
.ui.inverted.segment h1, .formHeader, .navbarLogo{
  font-family: 'M PLUS Rounded 1c', sans-serif  !important;
}
.ui.inverted.segment h1{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}
.formHeader, .navbarLogo{
  letter-spacing: 3px !important;
  font-size: 1.5rem;
}
.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.dropdown>.menu, .ui.dropdown .menu .menu{
  border-radius: 20px !important;
  transform: translateY(5%);
  border-color: white;
}
.login, .ui.pink.label.hostLabel, .loginForm, .formSubmit {
  background: #1381ff !important;
  border-color:  #1381ff !important;
  color: white !important;
  box-shadow: 8px 8px 12px 0 #96c7ff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;

}
.ui.menu .ui.dropdown .menu>.item, .ui.dropdown .menu>.item:first-child{
  border-radius: 20px !important;
}
.mainDropdown{
  right: auto;
  left:-60% !important;
  transform: translateX(-100%);
  transform: translateY(20%);
}
.profileDropdown{
  left: -130% !important;
  transform: translateX(-62%) !important;
  transform: translateY(40%) !important;
}
.login, .register {
  width: 6.5em !important;
}
.register, .viewButton, .registerForm, .formCancel{
  background: #853aff !important;
  color: white !important;
  box-shadow:  8px 8px 12px 0 #c19bff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.ui.basic.violet.label.attendLabel{
  background: #ff68f7 !important;
  color: white !important;
  border-color:  #ff68f7 !important;
  box-shadow:  8px 8px 12px 0 #ffaefb,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.ui.basic.purple.label{
  background: #ffffff !important;
  color: #1381ff !important;
  border-color:  #1381ff !important;
  box-shadow:  8px 8px 12px 0 #aed4ff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  margin-top: 2rem !important;
  margin-bottom: 0.5rem !important;
}
/*end home page styles*/

/*Semantic UI Overrides*/

.ui.button, .ui.basic.button, .ui.basic.label {
  border-radius: 100px;
}
.ui.segments, .profileHeader{
  box-shadow: 15px 15px 20px 0 #bed0e7,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  border: white !important;
}
.activityForm, .ui.dropdown>.menu, .ui.dropdown .menu .menu{
  box-shadow: 15px 15px 20px 0 rgba(190, 208, 231, 0.6),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  background: #f8fbff !important;
  border: white;
}
.ui.segments, .ui.large.vertical.menu {
  border-radius: 15px;
  border: white !important;
}
.ui.segments:not(.horizontal)>.segment:first-child,
.ui.segment[class*="top attached"]:first-child,
.ui.fluid.image,
.ui.inverted.purple.segment,
.ui.attached:not(.top):not(.bottom).header{
  border-radius: 15px 15px 0px 0px;
  border: white !important;
}
.ui.segments:not(.horizontal)>.segment:last-child {
  border-radius: 0px 0px 15px 15px;
  border: white !important;

}
.activityForm, .profileHeader{
  border-radius: 15px 15px 15px 15px !important;
  border: white !important;

}
.activityCard, .profileHeader{
  background: #f8fbff !important;
  border: white !important;
}
.ui.dimmer {
  background-color: rgba(255,255,255,.5) !important;
}


