@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  width: 100%;
  height:100%;
  background-color: #dbeafd !important;
  font-family: 'Roboto', sans-serif !important;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.ui.top.fixed.menu, .react-calendar, .react-datepicker-wrapper,
.login, .ui.pink.label.hostLabel, .loginForm, .formSubmit, .checkPic,
.register, .viewButton, .registerForm, .formCancel,.activityForm, 
.profileHeader, .profileMenu>.ui.menu, 
.profileMenu>.ui.menu>.item,
.ui.tab.active, .ui.tab.open, .viewAttendees,
.ui.cards>.card>:last-child, .ui.attached:not(.top):not(.bottom).header,
.profilePhotos, .react-datepicker__header, .ui.segments, .ui.large.vertical.menu, 
.ui.attached.segment, .ui.inverted.segment>.ui.header, h3,
.ui.items>.item>.content>.header, .ui.pink.button, .ui.basic.pink.button, 
.formCancel, .ui.violet.button, .ui.purple.button, .ui.header, .ui.cards>.card>.content>.header{
  font-family: 'Roboto', sans-serif !important;
}
.ui.top.fixed.menu {
  background: #e1ebf8 !important;
}
.ui.inverted.segment>.ui.header, .ui.inverted.purple.segment, a{
  color: black !important;
}
.peopleAttending, .ui.inverted.segment>.ui.header{
  font-size: 1.5rem !important;
}
.react-calendar{
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.15);
  border-radius: 20px;
}
.react-calendar__tile--now, .react-calendar__tile--now:hover,
.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box 
ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected{
  background: #853aff !important;
  border-radius: 30% !important;
  box-shadow:  8px 8px 12px 0 #c19bff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-calendar__month-view__days__day--weekend{
  color: #1381ff !important;
}
.activityHost>a{
  color: #ff68f7 !important;
}
/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image:
    linear-gradient(#e1ebf8, #e1ebf8, #e1ebf8) !important;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
.ui.inverted.segment h1, .formHeader, .navbarLogo{
  font-family: 'M PLUS Rounded 1c', sans-serif  !important;
}
.ui.inverted.segment h1{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}
.formHeader, .navbarLogo{
  letter-spacing: 3px !important;
  font-size: 1.5rem;
}
.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}
.ui.dropdown>.menu, .ui.dropdown .menu .menu{
  border-radius: 20px !important;
  transform: translateY(5%);
  border-color: white;
}
.login, .ui.pink.label.hostLabel, .loginForm, .formSubmit, .viewAttendees, 
.checkPic, .react-calendar__tile--active, .ui.basic.blue.button.cancelEventButton {
  background: #1381ff !important;
  border-color:  #1381ff !important;
  color: white !important;
  box-shadow: 8px 8px 12px 0 #96c7ff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.react-calendar__tile--active{
  border-radius: 30% !important;
}
.ui.comments .comment .avatar img{
  border-radius: 50% !important;
}
.ui.two.buttons.photoButtons{
  width: 8rem;
  margin-left: .75rem;
}
.checkPic{
  margin-right: 1.5rem !important;
}
.activityName{
  border-radius: 0px 15px 15px 0px !important;
  background: rgba(255, 255, 255, 0.6) !important;
}
.picUploadHeading{
  margin-bottom: 2rem !important;
}
.ui.menu .ui.dropdown .menu>.item, .ui.dropdown .menu>.item:first-child{
  border-radius: 20px !important;
}
.mainDropdown{
  right: auto;
  left:-60% !important;
  transform: translateX(-100%);
  transform: translateY(20%);
}
.profileDropdown{
  left: -130% !important;
  transform: translateX(-62%) !important;
  transform: translateY(40%) !important;
}
.login, .register {
  width: 6.5em !important;
  margin: 0.6em !important;
}
.register, .viewButton, .registerForm, .formCancel, .ui.violet.button,
.ui.purple.button, .AddPhoto, .bigFollowButton{
  background: #853aff !important;
  color: white !important;
  box-shadow:  8px 8px 12px 0 #c19bff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.ui.basic.violet.label.attendLabel, .cancelPic,
.ui.pink.ribbon.label, .submitProfileEdit, .ui.pink.button, .ui.pink.button.cancelEventButton{
  background: #ff68f7 !important;
  color: white !important;
  border-color:  #ff68f7 !important;
  box-shadow:  8px 8px 12px 0 #ffaefb,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.5) !important;
}
.ui.pink.basic.button.followButton{
  background: #ff68f7 !important;
  color: white !important;
  border-color:  #ff68f7 !important;
}
.ui.purple.button.followButton{
  background: #853aff !important;
  color: white !important;
  border-color:  #853aff !important;
  box-shadow:  0px 0px 0px 0 white !important;
}
.ui.pink.ribbon.label{
border-radius: 15px 0 0 15px;
}
.ui.pink.ribbon.label.canceledEventFlag{
  border-radius: 0 15px 15px 0 !important;
}
.ui.pink.label{
  background: #ff68f7 !important;
  color: white !important;
  border-color:  #ff68f7 !important;
  box-shadow:  8px 8px 12px 0 #ffaefb !important;
  border-radius: 15px 15px 0px 0px;
}
.ui.basic.purple.label, .activityFilters{
  background: #ffffff !important;
  color: #1381ff !important;
  border-color:  #1381ff !important;
  box-shadow:  8px 8px 12px 0 #aed4ff,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  margin-top: 2rem !important;
  margin-bottom: 0.5rem !important;
}
.ui.basic.purple.label.profileLabels{
  font-size: 1.1rem !important;
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}
.attendeeCard{
  max-width: 10em !important;
  max-height: 15em !important;
  border-radius: 15px !important;
}
.ui.basic.purple.label.activityFilters{
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  margin-top: 0.5rem !important;
  font-size: 1.15rem !important;
}
.formCancel{
  margin-right: 1em !important;
}
.ui.button, .ui.basic.button, .ui.basic.label, .editPic, .bigFollowButton {
  border-radius: 100px !important;
}
.editPic, .deletePic{
  padding: 8px !important;
  margin: 0.6rem !important;
  width: 2rem !important;
}
.ui.pink.button.deletePic{
  background: white !important;
  color: #ff68f7 !important;
  border-color:  #ff68f7 !important;
}
.ui.segments, .ui.mini.modal, .ui.inverted.purple.segment,
.ui.attached.segment{
  box-shadow: 15px 15px 20px 0 #bed0e7,
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  border: white !important;
}
.ui.dropdown>.menu, .ui.dropdown .menu .menu, .profileHeader,
.profileMenu>.ui.menu, .ui.tab.active, .ui.tab.open, .activityForm, 
.attendeeCard, .ui.cards>.card.profilePhotos {
  box-shadow: 15px 15px 20px 0 rgba(190, 208, 231, 0.6),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.4) !important;
  background: #f8fbff !important;
  border: white;
}
.ui.segments, .ui.large.vertical.menu {
  border-radius: 15px;
  border: white !important;
}
.ui.segments:not(.horizontal)>.segment:first-child,
.ui.segment[class*="top attached"]:first-child,
.ui.fluid.image,
.ui.inverted.purple.segment,
.ui.cards>.card>:first-child,
.ui.attached:not(.top):not(.bottom).header,
.ui.modal>.icon:first-child+*, .ui.modal>:first-child:not(.icon){
  background: #f8fbff !important;
  border-radius: 15px 15px 0px 0px;
  border: white !important;
}
.activityForm{
  border-radius: 15px !important;
  border: white !important;
}
.ui.segments:not(.horizontal)>.segment:last-child, 
.ui.cards>.card>:last-child, .bottomSegment {
  background: #f8fbff !important;
  border-radius: 0px 0px 15px 15px !important;
  border: white !important;
}
.profileMenu>.ui.menu, 
.profileMenu>.ui.menu>.item,
.ui.tab.active, .ui.tab.open, 
.ui.cards>.card>:last-child, .profileHeader,
.profilePhotos, .ui.cards>.card>.image,
.react-calendar, .react-datepicker-wrapper,
.react-datepicker__month, .react-datepicker__header,
.react-datepicker__month-container, .react-datepicker,
.react-datepicker__time-container .react-datepicker__time,
.ui.mini.modal, .ui.modal>:last-child, .ui.vertical.menu .active.item  {
  background: #f8fbff !important;
  border-radius: 15px 15px 15px 15px !important;
  border: white !important;
}
.profileTabs{
  margin: 1em 0.5em 1em 0.5em !important;
}
.react-datepicker__triangle{
  display: none;
}
.activityCard, .ui.attached.segment{
  background: #f8fbff !important;
  border: white !important;
}
.ui.dimmer {
  background-color: rgba(255,255,255,.5) !important;
}
.profileMenu{
  margin-top: 2rem !important;
}
.profileMenu>.ui.menu>.item{
  font-size: 1.5em !important;
}

.ui.cards>.card>.image.profileCardPhoto{
  border-radius: 50% !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.bigFollowButton{
  /* margin-top: 4em !important;
  max-width: 15% !important;
  margin-left: auto !important; */
}
.viewAttendees{
  margin-left: 1em !important;
}
.activityCardPic{
  width: 20em !important;
}

